<div class="sidebar" id="sidebar">

	<script type="text/javascript">
	
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	
	</script>


	<ul class="nav nav-list">
		<li class="active">
		
			<a href="">
				<i class="icon-home"></i>
				<span class="menu-text"> 主页 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-list"></i>
				<span class="menu-text"> 插件管理 </span>
			</a>
		</li>
				
		<li>
			<a href="javascript:void(0)">
				<i class="icon-list"></i>
				<span class="menu-text"> 微信管理 </span>
			</a>
		</li>



	</ul><!-- /.nav-list -->

	<script type="text/javascript">
	
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	
	</script>
</div>