<include file="Index/head"/>
 <div class="main cc">
                    <pre class="pact" readonly="readonly">
				   冷爱公众号管理系统使用协议

                    <b>本系统包含以下功能：</b>

                    1、快速创建微信公众号；
                       一杯茶的时间创建您的微信公众号。

                    2、丰富的界面；
                       简洁美观的界面，美轮美奂。  
                       
                    3、免费
					


                    </pre>
                </div>
                <div class="bottom tac"> <a href="__CONTROLLER__/step1" class="btn">接 受</a> </div>
<include file="Index/footer"/>