<include file="Index/head" />
  <div class="step">
                    <ul>
                        <li class="on"><em>1</em>检测环境</li>
                        <li class="current"><em>2</em>创建数据</li>
                        <li><em>3</em>完成安装</li>
                    </ul>
                </div>
                <form id="J_install_form" action="__CONTROLLER__/step3" method="post">
                    <div class="server">
                        <table width="100%">
                            <tr>
                                <td class="td1" width="100">数据库信息</td>
                                <td class="td1" width="200">&nbsp;</td>
                                <td class="td1">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="tar">数据库服务器：</td>
                                <td><input type="text" name="dbhost" id="dbhost" value="localhost" class="input"></td>
                                <td><div id="J_install_tip_dbhost"><span class="gray">数据库服务器地址，一般为localhost</span></div></td>
                            </tr>
                            <tr>
                                <td class="tar">数据库端口：</td>
                                <td><input type="text" name="dbport" id="dbport" value="3306" class="input"></td>
                                <td><div id="J_install_tip_dbport"><span class="gray">数据库服务器端口，一般为3306</span></div></td>
                            </tr>
                            <tr>
                                <td class="tar">数据库用户名：</td>
                                <td><input type="text" name="dbuser" id="dbuser" value="" class="input"></td>
                                <td><div id="J_install_tip_dbuser"></div></td>
                            </tr>
                            <tr>
                                <td class="tar">数据库密码：</td>
                                <td><input type="text" name="dbpw" id="dbpw" value="" class="input" autoComplete="off" onBlur="TestDbPwd()"></td>
                                <td><div id="J_install_tip_dbpw"></div></td>
                            </tr>
                            <tr>
                                <td class="tar">数据库名：</td>
                                <td><input type="text" name="dbname" id="dbname" value="" class="input"></td>
                                <td><div id="J_install_tip_dbname"></div></td>
                            </tr>
                            <tr>
                                <td class="tar">表前缀：</td>
                                <td><input type="text" name="dbprefix" id="dbprefix" value="wx_" class="input"></td>
                                <td><div id="J_install_tip_dbprefix"><span class="gray"></span></div></td>
                            </tr>
                        </table>
                        <table width="100%">
                            <tr>
                                <td class="td1" width="100"></td>
                                <td class="td1" width="200">&nbsp;</td>
                                <td class="td1">&nbsp;</td>
                            </tr>
                     

                          
                        </table>
                        <table width="100%">
                            <tr>
                                <td class="td1" width="100">创始人信息</td>
                                <td class="td1" width="200">&nbsp;</td>
                                <td class="td1">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="tar">管理员帐号：</td>
                                <td><input type="text" name="manager_email" class="input" value="admin@qq.com"></td>
                                <td><div id="J_install_tip_manager_email"></div></td>
                            </tr>
                            <tr>
                                <td class="tar">密码：</td>
                                <td><input type="password" name="manager_pwd" id="J_manager_pwd" class="input" autoComplete="off"></td>
                                <td><div id="J_install_tip_manager_pwd"></div></td>
                            </tr>
                            <tr>
                                <td class="tar">重复密码：</td>
                                <td><input type="password" name="manager_ckpwd" class="input" autoComplete="off"></td>
                                <td><div id="J_install_tip_manager_ckpwd"></div></td>
                            </tr>
                        </table>
                        <div id="J_response_tips" style="display:none;"></div>
                    </div>
                    <div class="bottom tac"> <a href="__CONTROLLER__/step1" class="btn">上一步</a>
                        <button type="submit" class="btn btn_submit J_install_btn">创建数据</button>
                    </div>
                </form>
<include file="Index/footer"/>